$color_1: #215008;
$color_2: #631515;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

body{
    background-color: #dedb9e;
}

header{
    background-color: $color_1;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

main{
    text-align: center;
}

footer{
    background-color: $color_2;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.col-wrapper{
    width: 90%;
    margin: 0 auto 20px;
    columns: 4;
    gap: 20px;
}

.col-box{
    break-inside: avoid;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    >h2{
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
    >a{
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
        >img{
            display: block;
            transition: .3s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

#all:checked ~ .col-wrapper>.col-box{
    display: block;
}

#tate:checked ~ .col-wrapper>.col-box:not([data-category="tate"]){
    display: none;
}

#yoko:checked ~ .col-wrapper>.col-box:not([data-category="yoko"]){
    display: none;
}

[type="radio"]{
    display: none;
}

label{
    display: inline-block;
    width: 100px;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

[type="radio"]:checked + label{
    background-color: #333;
    color: #fff;
}